.orders-page {
    padding: 1rem;
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  
  .orders-page h2 {
    text-align: left;
    margin-left: 1rem;
  }
  
  .order-item {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .order-item span {
    margin-right: 1rem;
  }
  
  .order-item strong {
    margin-left: auto;
  }
  