.App {
  text-align: center;
}

.app-header {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.app-header h1 {
  margin: 0;
}

.header-button {
  background: none;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 15px;
  margin-left: 8px;
}

.sandwich-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}